{release,
 {my_app, "1.0.0"}, [my_app, my_dep, sasl]}.
{ignore_deps, [eunit_formatters]}.
{erts, local}.
{all_deps, false}.
{output_dir, "_jorel"}.
{boot, [my_app, sasl]}.
{exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]}.
{include_src, true}.
{include_erts, true}.
{sys_config, "config/jorel.config"}.
{vm_args, "config/vm.args"}.
{disable_relup, false}.
