{release,
 {jorel_sample, "0.0.2"}, [jorel_sample, sasl]}.
{boot, [jorel_sample, sasl]}.
{all_deps, false}.
{output_dir, "_jorel"}.
{exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]}.
{include_src, false}.
{include_erts, true}.
{disable_relup, false}.
{providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_git_tag]}.
