[{elvis,
  [{config,
    [#{dirs => ["src", "test"],
      filter => "*.erl",
      rules => [{elvis_style, line_length, #{limit => 180}},
      {elvis_style, no_tabs},
      {elvis_style, no_trailing_whitespace},
      {elvis_style, macro_names},
      {elvis_style, macro_module_names},
      {elvis_style, dont_repeat_yourself, #{min_complexity => 10}},
      {elvis_style, operator_spaces, #{rules => [{right, ","},
                                        {right, "++"},
                                        {left, "++"}]}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [{elvis_project, no_deps_master_rebar, []}]}]}]}].
