{release,
 {jorel, "0.0.9"}, [jorel, vsn, tempfile, sh, getopt, eutils, erlydtl, erlconf, color, bucs, sasl]}.
{ignore_deps, [eunit_formatters]}.
{all_deps, false}.
{output_dir, "_jorel"}.
{boot, [jorel, sasl]}.
{exclude_dirs, ["_jorel", "_relx", "_rel", "test"]}.
{include_src, true}.
{include_erts, false}.
{sys_config, "config/jorel.config"}.
{vm_args, "config/vm.args"}.
{disable_relup, true}.
{providers,
 [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_artifactory, jorel_provider_git_tag, jorel_provider_config]}.
{artifactory,
 [{url, "https://localhost/artifactory"},
  {username, env},
  {password, env},
  {repository, "repository-erlang"}]}.
{deb,
 [{author_name, "Gregoire Lejeune"},
  {author_email, "gregoire.lejeune@free.fr"},
  {install_user, "example"},
  {install_user_desc, "Example user"},
  {package_url, "http://github.com/emedia-project/jorel"},
  {package_git, "http://github.com/emedia-project/jorel"},
  {package_shortdesc, "Release tool for Erlang"},
  {package_desc, "eXtanded Release assembler for Erlang/OTP Releases"},
  {package_depends, "libc6 (>= 2.4)"},
  {license_type, "BSD"},
  {copyright, "2015 Gregoire Lejeune"}]}.
