{deps, [
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.9.0"}}},
  {getopt, "", {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}},
  {eutils, ".*", {git, "https://github.com/emedia-project/eutils.git", {branch, "master"}}},
  {color, ".*", {git, "https://github.com/julianduque/erlang-color.git", {branch, "master"}}},
  {vsn, ".*", {git, "https://github.com/emedia-project/vsn.git", {branch, "master"}}},
  {erlconf, ".*", {git, "https://github.com/emedia-project/erlconf.git", {branch, "master"}}},
  {sh, ".*", {git, "https://github.com/gleber/sh.git", {branch, "master"}}}
]}.

{erlydtl_opts, [
  {doc_root, "priv/templates"},
  {compiler_options, [report, return, debug_info]}
]}.

{escript_incl_apps, [getopt, eutils, erlydtl, color, vsn, erlconf, sh]}.
