{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{plugins, [
           {rebar3_elixir, {git, "https://github.com/botsunit/rebar3_elixir.git", {branch, "master"}}},
           rebar3_hex,
           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.6"}}}
          ]}.

{elixir_bindings, [vice]}.

{deps, [
  {lager, "~> 3.2.0"},
  {bucs,  "~> 0.1.9"},
  {doteki, "~> 0.1.13"},
  {poolgirl, "~> 0.1.4"},
  {jsx, "~> 2.8.0"}
 ]}.

{pre_hooks,
   [{compile, "make -C c_src -f Makefile.build"},
    {eunit, "mkdir -p test/eunit"}]}.

{eunit_opts, [
              verbose, {report, {eunit_surefire, [{dir, "test/eunit"}]}}
             ]}.

{profiles, [
            {test, [
                    {deps, [meck]}
                   ]},
            {doc, [
                   {deps, [
                           {edown, {git, "https://github.com/botsunit/edown.git", {branch, "master"}}}
                          ]},
                   {edoc_opts, [
                                {doclet, edown_doclet}
                                , {app_default, "http://www.erlang.org/doc/man"}
                                , {source_path, ["src"]}
                                , {overview, "overview.edoc"}
                                , {stylesheet, ""}
                                , {image, ""}
                                , {top_level_readme, {"./README.md", "https://github.com/botsunit/vice"}}
                               ]}
                   ]},
            {release, [
                       {elvis, [
                        #{dirs => ["."],
                          filter => "rebar.config",
                          rules => [{elvis_project, no_deps_master_rebar, []}]}]}
                      ]}
           ]}.

{elvis,
   [#{dirs => ["src", "test"],
      filter => "*.erl",
      rules => [{elvis_style, line_length, #{limit => 180}},
                {elvis_style, no_tabs},
                {elvis_style, no_trailing_whitespace},
                {elvis_style, macro_names},
                {elvis_style, macro_module_names},
                {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
                {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                           {right, "++"},
                                                           {left, "++"}]}}]}]}.

