{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           {rebar3_jorel, ".*",
            {git, "https://github.com/emedia-project/rebar3_jorel.git", {branch, "master"}}},
           {rebar3_lint, ".*",
            {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.6"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
{erlydtl_opts, [
                {auto_escape, false}
               ]}.

{deps, [
        {sh, {git, "https://github.com/gleber/sh.git", {branch, "master"}}},
        {erlconf, {git, "https://github.com/emedia-project/erlconf.git", {branch, "master"}}},
        {vsn, {git, "https://github.com/emedia-project/vsn.git", {branch, "master"}}},
        {color, {git, "https://github.com/julianduque/erlang-color.git", {branch, "master"}}},
        {getopt, {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}},
        {erlydtl, "~> 0.11.1", {pkg, erlydtl2}},
        {tempfile, {git, "https://github.com/botsunit/tempfile.git", {tag, "1.1.1"}}},
        {hackney, "~> 1.6.0"},
        {jsx, "~> 2.8.0"},
        {doteki, "~> 0.1.12"},
        {bucs, "~> 0.1.8"}
       ]}.

{escript_incl_apps, [sh, erlconf, vsn, color, getopt, erlydtl, bucs, tempfile, jorel, ssl, inets, idna, mimerl, certifi, metrics, ssl_verify_fun, hackney, doteki]}.

{eunit_opts, [
              verbose, {report, {eunit_surefire, [{dir, "test/eunit"}]}}
             ]}.
{pre_hooks, [{eunit, "mkdir -p test/eunit"}]}.

{profiles, [
            {test, [
                    {deps, [meck]}
                   ]},
            {doc, [
                   {deps, [
                           {edown, {git, "https://github.com/botsunit/edown.git", {branch, "master"}}}
                          ]},
                   {edoc_opts, [
                                {doclet, edown_doclet}
                                , {app_default, "http://www.erlang.org/doc/man"}
                                , {source_path, ["src"]}
                                , {overview, "overview.edoc"}
                                , {stylesheet, ""}
                                , {image, ""}
                                , {top_level_readme, {"./README.md", "https://github.com/botsunit/jorel"}}
                               ]}
                  ]},
            {release, [
                       {elvis, [
                        #{dirs => ["."],
                          filter => "rebar.config",
                          rules => [{elvis_project, no_deps_master_rebar, []}]}]}
                      ]}
           ]}.

{jorel, [
         {release,
          {jorel, "0.2.5-pre"}, [jorel, vsn, tempfile, sh, getopt, erlydtl, erlconf, color, bucs, sasl]},
         {ignore_deps, [eunit_formatters]},
         {all_deps, false},
         {upfrom, "0.2.3"},
         {output_dir, "_jorel"},
         {exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]},
         {include_src, false},
         {include_erts, true},
         {disable_relup, false},
         {providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_config]},
         {jorel_in, "http://localhost:8080"}
        ]}.

{elvis,
 [#{dirs => ["src", "test", "include"],
    filter => "*.erl",
    rules => [{elvis_style, line_length, #{limit => 180}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names},
              {elvis_style, macro_module_names},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}}]}]}.

