{release, {xrel, "0.0.5"},
 [xrel
 , color
 , erlydtl
 , eutils
 , getopt
 , sasl
 ]}.
% {all_deps, true}.
{output_dir, "_xrel"}.
{boot, [xrel, sasl]}.
{exclude_dirs, ["_xrel", "_relx", "_rel", "test"]}.
{include_src, true}.
{include_erts, false}.
{sys_config, "config/xrel.config"}.
{vm_args, "config/vm.args"}.
{disable_relup, true}.
{providers, [
  xrel_provider_tar,
  xrel_provider_zip,
  xrel_provider_deb,
  xrel_provider_artifactory
]}.
{artifactory, [
  % {deploy, zip},
  {url, "https://localhost/artifactory"},
  {username, env},
  {password, env},
  {repository, "repository-erlang"}
  % , {checksum, "fb7bcf57ec847cf0f5578ded087d551e7e54c9b1"}
]}.
{deb, [
  {author_name, "Gregoire Lejeune"},
  {author_email, "gregoire.lejeune@free.fr"},
  
  %% The user under which the service is going to run
  {install_user, "example"},
  {install_user_desc, "Example user"},
  
  %% Package description
  {package_url, "http://github.com/emedia-project/xrel"},
  {package_git, "http://github.com/emedia-project/xrel"},
  {package_shortdesc, "Release tool for Erlang"},
  {package_desc, "eXtanded Release assembler for Erlang/OTP Releases"},
  {package_depends, "libc6 (>= 2.4)"},
  
  %% License and copyright info for the package metadata
  {license_type, "BSD"},
  {copyright, "2015 Gregoire Lejeune"}
]}.
