{release,
 {xrel, "0.0.6"}, [xrel, color, erlydtl, eutils, getopt, sasl]}.
{output_dir, "_xrel"}.
{boot, [xrel, sasl]}.
{exclude_dirs, ["_xrel", "_relx", "_rel", "test"]}.
{include_src, true}.
{include_erts, false}.
{sys_config, "config/xrel.config"}.
{vm_args, "config/vm.args"}.
{disable_relup, true}.
{providers, [xrel_provider_tar, xrel_provider_zip, xrel_provider_deb, xrel_provider_artifactory, xrel_provider_git_tag]}.
{artifactory,
 [{url, "https://localhost/artifactory"},
  {username, env},
  {password, env},
  {repository, "repository-erlang"}]}.
{deb,
 [{author_name, "Gregoire Lejeune"},
  {author_email, "gregoire.lejeune@free.fr"},
  {install_user, "example"},
  {install_user_desc, "Example user"},
  {package_url, "http://github.com/emedia-project/xrel"},
  {package_git, "http://github.com/emedia-project/xrel"},
  {package_shortdesc, "Release tool for Erlang"},
  {package_desc, "eXtanded Release assembler for Erlang/OTP Releases"},
  {package_depends, "libc6 (>= 2.4)"},
  {license_type, "BSD"},
  {copyright, "2015 Gregoire Lejeune"}]}.
