{release, {xrel, "0.0.1"},
 [xrel, color, erlydtl, eutils, getopt, tempfile]}.
% {all_deps, true}.
{output_dir, "_xrel"}.
{boot, [xrel]}.
{exclude_dirs, ["_xrel", "_relx", "_rel", "test"]}.
{include_src, true}.
{include_erts, false}.
{sys_config, "config/xrel.config"}.
{vm_args, "config/vm.args"}.
{disable_appup, true}.
{providers, [
  xrel_provider_tar,
  xrel_provider_zip
]}.
