{release,
 {dockers_cowboy, "1.0.0"}, [cowboy, cowlib, dockers_cowboy, ranch, sasl]}.
{boot, [dockers_cowboy, sasl]}.
{all_deps, false}.
{output_dir, "_jorel"}.
{exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]}.
{include_src, false}.
{include_erts, true}.
{disable_relup, false}.
{providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_git_tag, jorel_provider_dockerize]}.
{dockerize, [
  {remove_origins, true},
  {remove_dockerfiles, true},
  {output_dir, "_jorel_docker"},
  {clean_build, true},
  {maintainer, "Gregoire Lejeune <gregoire.lejeune@free.fr>"},
  {build, [
    {from, "glejeune/alpine-jorel-build"},
    {prebuild, []},
    {postbuild, []}
  ]},
  {release, [
    {from, "glejeune/alpine-jorel-release"},
    {prerelease, []},
    {postrelease, [
      {expose, [8080]}
    ]}
  ]}
]}.

