{release,
 {dockers_phoenix, "1.0.0"},
 [connection, cowboy, cowlib, decimal, dockers_phoenix, ecto, elixir, gettext, phoenix, phoenix_ecto, phoenix_html, plug, poison, poolboy, postgrex, ranch, sasl]}.
{boot, [dockers_phoenix, elixir, sasl]}.
{all_deps, false}.
{output_dir, "_jorel"}.
{sys_config, "config/config.exs"}.
{exclude_dirs, ["**/_jorel*/**", "**/_rel*/**", "**/test/**"]}.
{include_src, false}.
{include_erts, true}.
{disable_relup, false}.
{providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_git_tag, jorel_provider_dockerize]}.
{mix_env, prod}.
{dockerize, [
  {remove_origins, true},
  {remove_dockerfiles, true},
  {output_dir, "_jorel_docker"},
  {clean_build, true},
  {maintainer, "Gregoire Lejeune <gregoire.lejeune@free.fr>"},
  {build, [
    {from, "glejeune/alpine-jorel-build"},
    {prebuild, []},
    {postbuild, []}
  ]},
  {release, [
    {from, "glejeune/alpine-jorel-release"},
    {prerelease, []},
    {postrelease, [
      {env, "PORT", "8080"},
      {expose, ["${PORT}"]}
    ]}
  ]}
]}.

