[
  {evic, [
    {encoders, [
      {video, [evic_prv_ffmpeg, evic_prv_libav]},
      {image, [evic_prv_imagemagick]}
    ]},

    {ffmpeg, [
      {ffprobe, "/usr/bin/ffprobe"},
      {ffmpeg, "/usr/bin/ffmpeg"}
    ]},

    {imagemagick, [
      {convert, "/usr/bin/convert"},
      {identify, "/usr/bin/identify"}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time, " [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/evic_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/evic_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/evic_console.log"}, {level, info}]}
    ]}
  ]}
].
