[
  {vice, [
    {encoders, [
      {video, [vice_prv_ffmpeg, vice_prv_libav]},
      {image, [vice_prv_imagemagick]}
    ]},

    {ffmpeg, [
      {ffprobe, "/usr/bin/ffprobe"},
      {ffmpeg, "/usr/bin/ffmpeg"},
      {openssl, "/usr/bin/openssl"}
    ]},

    {imagemagick, [
      {convert, "/usr/bin/convert"},
      {identify, "/usr/bin/identify"},
      {mogrify, "/usr/bin/mogrify"},
      {montage, "/usr/bin/montage"}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time, " [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/vice_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/vice_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/vice_console.log"}, {level, info}]}
    ]}
  ]}
].
