[
  {vice, [
    {encoders, [
      {video, [vice_prv_ffmpeg]},
      {image, [vice_prv_imagemagick]},
      {audio, [vice_prv_sox]}
    ]},

    {ffmpeg, [
      {ffprobe, "/usr/bin/ffprobe"},
      {ffmpeg, "/usr/bin/ffmpeg"},
      {openssl, "/usr/bin/openssl"}
    ]},

    {imagemagick, [
      {convert, "/usr/bin/convert"},
      {identify, "/usr/bin/identify"},
      {mogrify, "/usr/bin/mogrify"},
      {montage, "/usr/bin/montage"}
    ]},

    {sox, [
      {sox, "/usr/bin/sox"},
      {soxi, "/usr/bin/soxi"}
    ]}
  ]}
].
